<section class="sidenav">
  <div class="sidenav_head">
    <div class="sidenav_head_left">
      <img src="assets/img/Workspace logo.png" alt="" />
      <h3>Devspace</h3>
    </div>
    <button>
      <img src="/assets/img/edit_square.png" alt="" />
    </button>
  </div>
  <div class="sidenav_main">
    <div class="sidenav_container_channels">
      <button (click)="togglechannelsMenu()">
        <img
          [class.rotated]="!channelsmenu"
          [class.rotatedBack]="channelsmenu"
          src="assets/img/arrow_drop_down.png"
          alt=""
        />
      </button>
      <div>
        <img src="/assets/img/workspaces.png" alt="" />
        <h4>Channels</h4>
      </div>
      <div class="box_add">
        <button class="btn_add">
          <img src="/assets/img/19. add.png" alt="" />
        </button>
      </div>
    </div>
    <div
      [@menuVisibility]="channelsmenu ? 'visible' : 'hidden'"
      class="sidenav_place_channel_infos"
    >
      <div class="sidenav_container_channel_info">
        <div class="sidenav_info">
          <img src="/assets/img/tag.png" alt="" />
          <p>Enwicklerteam</p>
        </div>
      </div>
      <div class="sidenav_container_add_channel">
        <button>
          <img src="assets/img/add_circle.png" alt="" />
          <p>Channel hinzufügen</p>
        </button>
      </div>
    </div>
    <div class="sidenav_container_directmessages">
      <button (click)="toggleUsersMenu()">
        <img [class.rotated]="!userMenu"
        [class.rotatedBack]="userMenu" src="assets/img/arrow_drop_down.png" alt="" />
      </button>
      <div>
        <img src="/assets/img/account_circle.png" alt="" />
        <h4>Direktnachrichten</h4>
      </div>
    </div>
    <div  *ngIf="allUsers && allUsers.length > 0" [@menuVisibility]="userMenu ? 'visible' : 'hidden'" class="sidenav_container_user">
      <button class="sidenav_box_user">
        <div *ngFor="let user of allUsers" class="sidenav_place_user">
          <div>
            <img
              class="user_picture"
              src="assets/img/00c.Charaters.png"
              alt=""
            />
            <div class="statuslight" src="" alt=""></div>
          </div>
          <p >{{user.name}}</p>
        </div>
      </button>
      <button class="sidenav_box_user">
        <div class="sidenav_place_user">
          <div>
            <img
              class="user_picture"
              src="assets/img/00c.Charaters.png"
              alt=""
            />
            <div class="statuslight" src="" alt=""></div>
          </div>
          <p>Frederick Beck (Du)</p>
        </div>
      </button>
      <button class="sidenav_box_user">
        <div class="sidenav_place_user">
          <div>
            <img
              class="user_picture"
              src="assets/img/00c.Charaters.png"
              alt=""
            />
            <div class="statuslight" src="" alt=""></div>
          </div>
          <p>Frederick Beck (Du)</p>
        </div>
      </button>
      <button class="sidenav_box_user">
        <div class="sidenav_place_user">
          <div>
            <img
              class="user_picture"
              src="assets/img/00c.Charaters.png"
              alt=""
            />
            <div class="statuslight" src="" alt=""></div>
          </div>
          <p>Frederick Beck (Du)</p>
        </div>
      </button>
    </div>
  </div>
</section>
