@import "../../../styles.scss";

section {
  font-family: $nunito;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sidenav {
  min-height: 680px;
  width: 306px;
  padding: 40px 30px 40px 30px;
  background-color: white;
  border-radius: 32px;
  margin: 20px 20px 0 20px;
}

.sidenav_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    margin: 0;
    font-family: $nunito;
    font-weight: 800;
  }
  button {
    border: none;
    background-color: transparent;
  }
}

.sidenav_head_left {
  display: flex;
  gap: 15px;
  align-items: center;
}

.sidenav_main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sidenav_container_channels {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  div {
    display: flex;
    align-items: center;
    gap: 12px;
    img {
      object-fit: contain;
      transform: rotate(-90deg);
    }
    h4 {
      margin: 0;
      font-weight: 700;
    }
  }
  .box_add {
    flex: 1;
    position: relative;
    button {
      position: absolute;
      left: 108px;
    }
  }
}

.sidenav_place_channel_infos {
  margin-left: 26px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .sidenav_container_channel_info {
    display: flex;
    justify-content: start;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      gap: 12px;
      padding: 2px 20px 2px 20px;
      background-color: $bg-color;
      color: $purple1;
      p {
        font-weight: 600;
        font-size: 600;
      }
    }
  }
}

.sidenav_container_add_channel {
  display: flex;
  justify-content: start;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    gap: 12px;
    padding: 2px 20px 2px 20px;
    p {
      font-weight: 600;
    }
  }
}

.sidenav_container_directmessages {
  display: flex;
  justify-content: start;
  gap: 18px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    gap: 14px;
  }
  h4 {
    font-weight: 700;
  }
}

.sidenav_container_user {
  margin-left: 26px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .sidenav_box_user {
    display: flex;
    justify-content: start;
    .sidenav_place_user {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      gap: 12px;
      padding: 2px 20px 2px 20px;
      div {
        position: relative;
        .user_picture {
          border-radius: 50%;
        }
        .statuslight {
          border-radius: 50%;
          border: solid white 2px;
          background-color: rgb(19, 173, 19);
          position: absolute;
          height: 10px;
          width: 10px;
          right: 2px;
          bottom: 4.5px;
        }
      }
      p {
        font-weight: 600;
      }
    }
  }
}
.rotated {
  transform: rotate(-90deg); /* Rotate the image by 90 degrees */
  transition: transform 0.1s ease; /* Add a smooth transition effect */
}

.rotatedBack {
  transform: rotate(0deg); /* Rotate the image by 90 degrees */
  transition: transform 0.1s ease;
}
