<section class="sidenav">
  <div class="sidenav_head">
    <div class="sidenav_head_left">
      <img src="assets/img/Workspace logo.png" alt="" />
      <h3>Devspace</h3>
    </div>
    <button>
      <img src="/assets/img/edit_square.png" alt="" />
    </button>
  </div>
  <div class="sidenav_main">
    <div class="sidenav_container_channels">
      <button>
        <img src="assets/img/arrow_drop_down.png" alt="" />
      </button>
      <div>
        <img src="/assets/img/workspaces.png" alt="" />
        <h4>channel</h4>
      </div>
      <div class="box_add">
        <button class="btn_add">
          <img src="/assets/img/19. add.png" alt="" />
        </button>
      </div>
    </div>
    <div class="sidenav_place_channel_infos">
      <div class="sidenav_container_channel_info">
        <div class="sidenav_info">
          <img src="/assets/img/tag.png" alt="" />
          <p>Enwicklerteam</p>
        </div>
      </div>
      <div class="sidenav_container_add_channel">
        <div >
          <img src="assets/img/add_circle.png" alt="">
          <p>Channel hinzufügen</p>
        </div>
      </div>
    </div>
  </div>
</section>
