<section>
  <div class="main-content">
      <div class="logo-container">
          <img src="/assets/img/home-workspace.svg" alt="">
      </div>
      <div class="card-container">
          <mat-card>
              <mat-card-content>
                  <mat-card-header>
                      <h1>Konto erstellen</h1>
                      <span>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</span>
                  </mat-card-header>
                  <div class="input-container">
                    <div class="dflex-col-start pos-rel">
                      <input placeholder="Name und Nachname" class="name-input input-field" type="text">
                      <p>Bitte schreiben Sie einen Namen.</p>
                    </div>
                  <div class="dflex-col-start pos-rel">
                      <input placeholder="beispielname@email.com" class="mail-input input-field" type="email">
                      <p>*Diese E-Mail-Adresse ist leider ungültig.</p>
                    </div>
                    <div class="dflex-col-start pos-rel">
                      <input placeholder="Passwort" class="password-input input-field" type="text">
                      <p>Bitte geben Sie ein Passwort ein.</p>
                    </div>
                  </div>
                  <div class="checkbox-container">
                    <input type="checkbox" id="meineCheckbox">
                    Ich stimme der <a href="">Datenschutzerklärung</a> zu.
                  </div>
                  <div class="forward-button">
                      <button class="forward">Weiter</button>
                  </div>
              </mat-card-content>
          </mat-card>
        </div>
        <div class="footer-links">
          <a  routerLink="">Impressum</a>
          <a  routerLink="">Datenschutz</a>
      </div>
  </div>

</section>
