@import './../../styles.scss';

section{
    background-color: $bg-color;
    width: 100vw;
    height: 100vh;

    img{
        padding-left: $padding-logo;
        padding-top: $padding-logo;
    }
}