<mat-card>
    <section class="section">
        <div class="header">
            <h3>Mitglieder</h3>
            <button class="close-btn" mat-icon-button matTooltip="Basic" >
                <mat-icon>close</mat-icon>
              </button>
        </div>
        <div *ngIf="users" class="user-container">
            <div class="user" *ngFor="let user of users" >
                <img class="avatar-img" [src]="user.avatar" alt="">
                <div class="statuslight"></div>
                <div class="user-name">{{user.name}}</div>
            </div>
        </div>
        <div class="add-person-container">   
            <button class="add-person-btn" mat-icon-button matTooltip="Basic" >
                <mat-icon class="add-person-icon material-icons">person_add_outlined</mat-icon>
              </button>
            <span>Mitglieder hinzufügen</span>
        </div>
    </section>
</mat-card>