@import "./../../styles.scss";

section {
  background-color: $bg-color;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.main-content {
  max-width: 1920px;
  width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.logo-container {
  position: absolute;
  top: $padding-logo;
  left: $padding-logo;
  animation: show-logo 1s 3.5s forwards;
  opacity: 0;
}

.new-user-info {
  position: absolute;
  right: $padding-logo;
  top: $padding-logo;
  display: flex;
  flex-direction: column;
  gap: 20px;

  > span {
    font-family: $nunito;
    font-size: 18px;
  }

  > a {
    display: flex;
    justify-content: end;
    text-decoration: none;
    color: $purple2;
    font-size: 18px;
    width: 174px;
    height: 42px;
    align-items: center;
    justify-content: center;
    border: 1px transparent solid;
    /* Transparente Border für Platzhalter */
    border-radius: 30px;
    transition: border-color 125ms ease-in-out;
    /* Übergangseffekt für Border-Farbe */

    &:hover {
      border-color: $light-purple;
      /* Border-Farbe beim Hover-Effekt ändern */
    }
  }
}

.logo-container {
  position: absolute;
  top: $padding-logo;
  left: $padding-logo;
  animation: show-logo 1s 3.5s forwards;
  opacity: 0;
}

@keyframes show-logo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.footer-links {
  position: absolute;
  bottom: 0;
  margin: 4rem 0 4rem 0;
  width: 270px;
  display: flex;
  gap: 16px;
  justify-content: center;
  padding-top: 50px;

  > a {
    text-decoration: none;
    cursor: pointer;
    color: $purple2;
    font-size: 18px;
    border: 1px transparent solid;
    /* Transparente Border für Platzhalter */
    border-radius: 30px;
    transition: border-color 125ms ease-in-out;
    /* Übergangseffekt für Border-Farbe */
    width: 174px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border-color: $light-purple;
      /* Border-Farbe beim Hover-Effekt ändern */
    }
  }
}
