@import './../../styles.scss';

section {
    background-color: $bg-color;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;

    p{
        margin: 0;
    }
}

.main-content {
    max-width: 1920px;
    width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo-container {
    position: absolute;
    top: $padding-logo;
    left: $padding-logo;
}

mat-card {
    width: 606px;
    border-radius: 30px;
    display: flex;

    align-items: center;
    flex-direction: column;
}

mat-card-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 !important;

    h1 {
        color: $purple1;
        padding-top: 50px;
        font-family: $nunito;
        font-weight: 700;
        font-size: 46px;
        margin-bottom: 30px
    }
}

.forward-button {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding-bottom: 40px;
}

.forward {
    font-size: 18px;
    font-weight: 700;
    font-family: $nunito;
    color: white;
    border: none;
    background-color: $purple1;
    width: 137px;
    height: 49px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 125ms ease-in-out;

    &:hover {
        background-color: lighten($purple1, 10%);
    }
}

.footer-links{
    width: 270px;
    display: flex;
    gap: 16px;
    justify-content: center;
    padding-top: 50px;
    

    >a{
        text-decoration: none;
        cursor: pointer;
        color: $purple2;
        font-size: 18px;
        border: 1px transparent solid; /* Transparente Border für Platzhalter */
        border-radius: 30px;
        transition: border-color 125ms ease-in-out; /* Übergangseffekt für Border-Farbe */
        width: 174px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            border-color: $light-purple; /* Border-Farbe beim Hover-Effekt ändern */
        }
        
    }
}

.avatar-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected-avatar{
    width: 168px;
    height: 168px;
}

.upload-img{
    display: flex;
    align-items: center;
}

.upload-button {
    font-size: 18px;
    font-weight: 700;
    font-family: $nunito;
    color: $purple1;
    border: 1px solid $purple2;
    background-color: white;
    width: 187px;
    height: 49px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 125ms ease-in-out;

    &:hover {
        background-color: $purple1;
        color: white;
    }
}
