<section>
    <div class="main-content">
        <div class="logo-container">
            <img src="/assets/img/home-workspace.svg" alt="">
        </div>
        <div class="card-container">
            <mat-card>
                <mat-card-content>
                    <mat-card-header>
                        <h1>Passwort zurücksetzen</h1>
                        <button mat-mini-fab color="primary" class="back-button">
                            <mat-icon class="back-icon">arrow_back</mat-icon> 
                          </button>
                        <span>Bitte geben sie ihre E-Mail-Adresse ein.</span>
                    </mat-card-header>
                    <div class="input-container">
                        <input placeholder="beispielname@emailcom" class="mail-input" type="text">
                    </div>
                    <span class="mail-info-text">
                        Wir senden Ihnen eine E-mail, über die Sie ihr Passwort ändern können.
                    </span>
                    <div class="button-container">
                        <button disabled class="send-mail-btn">E-Mail senden</button>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
        <div class="footer-links">
            <a  routerLink="">Impressum</a>
            <a  routerLink="">Datenschutz</a>
        </div>
    </div>
</section>