@import "../../../styles.scss";

section {
  background-color: $bg-color;
  font-family: $nunito;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 25px 0 0 45px;

  input {
    border: none;
    outline: none;
    border-radius: 48px;
    padding: 16px 32px 16px 32px;
    width: 926px;
    height: 38px;
    background: url(/assets/img/search.png) no-repeat;
    background-origin: content-box;
    background-position: right center;
    position: relative;
    background-color: white;
  }

  .container_current_user {
    display: flex;
    width: 342px;
    height: 70px;
    gap: 16px;
    align-items: center;
    justify-content: end;
    padding-right: 15px;
    h2 {
      margin: 0;
      font-family: $nunito;
      font-weight: 700;
    }
    div {
      background-color: white;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      overflow: hidden;
    }
    button {
      border: none;
      background-color: transparent;
    }
  }

  .logo_container {
    img {
      width: 242px;
      height: 70px;
    }
  }

  .profile-img{
    width: 70px;
    height: 70px;
  }
}
