<section>
    <div class="head">
      <div class="logo_container">
        <img src="/assets/img/home-workspace.svg" alt="" />
      </div>
      <input type="text" />
      <div class="container_current_user">
        <h2>Frederick Beck</h2>
        <div>
          <img #profilePicture class="profile-img" [src]="this.downloadService.downloadedProfileImg" alt="">
        </div>
        <button>
          <img src="assets/img/keyboard_arrow_down.png" alt="" />
        </button>
      </div>
    </div>
  </section>
  