.background-intro {
    background: linear-gradient(1deg, #313ae5 1.22%, #797ef3 98.76%);
    display: flex;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    width: 187px;
    height: 184px;
    object-fit: cover;
    z-index: 2;
    overflow: hidden;

}

.logo-animation-container {
    display: flex;
    align-items: center;
    animation: forwards slide-left;
    animation-duration: 0.3s, 1s;
    animation-name: slide-left,  d-none;
    animation-delay: 1s, 2s;
    animation-fill-mode: forwards, forwards;
    position: relative;
    z-index: 2;
}


.project-name-intro {
    overflow: hidden;
    font-family: 'Nunito';
    font-size: 90px;
    font-weight: bold;
    color: white;
    animation: 0.3s forwards slide-text;
    animation-delay: 1.5s;
    opacity: 0;
}

.overflow-hidden {
    position: absolute;
    left: 195px;
    overflow: hidden;
}



@keyframes slide-left {
    from {
        padding-left: 0;
    }

    to {
        padding-right: 300px;
    }
}

@keyframes slide-text {
    from {
        margin-left: -100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
        opacity: 1;

    }
}

// @keyframes d-none {
//    from{

//    }
//    to{
//     display: none;
//    }
// }

