.background-intro{
    background: linear-gradient(1deg, #313ae5 1.22%, #797ef3 98.76%);
    display: flex;
    height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;
   
}

.logo{
    width: 187px;
    height: 184px;
    object-fit: cover;
    animation: 0.3s forwards slide-left;
    animation-delay: 1s;
    
}

.logo-animation-container{
    display: flex;
    align-items: center;
    >span{
        font-family: 'Nunito';
        font-size: 90px;
        font-weight: bold;
        color: white;
    } 
}

@keyframes slide-left {
    from {
      margin-left: 0;
    }
    to {
      margin-right: 300px;
    }
  }