<app-intro></app-intro>

<section>
    <div class="main-content">
        <div class="logo-container">
            <img src="/assets/img/home-workspace.svg" alt="">
        </div>
        <div class="card-container">
            <mat-card>
                <mat-card-content>
                    <mat-card-header>
                        <h1>Anmeldung</h1>
                        <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
                    </mat-card-header>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
</section>