@import './../../styles.scss';

.main-content {
    background-color: $bg-color;
    height: 100vh;

}

.logo-container{
    padding-left: $padding-logo;
    padding-top: $padding-logo;
    animation: show-logo 1s 3.5s forwards;
    opacity: 0;
}

@keyframes show-logo {
    from {
        opacity: 0;
    }

    to {
       opacity: 1;
    }
}



