@import "./../../styles.scss";

section {
  background-color: $bg-color;
  display: flex;
  justify-content: space-between;
}

.test{
  width: 200px;
  position: absolute;
  top: 200px;
  right: 200px;
  z-index: 4000;
}

.dashboard{
  width: 100%;
  margin-right: 20px
}

.chat-components{
  width: 100%;
  margin-right: 20px
}