@import "./../../../styles.scss";

.thread-container {
  width: 350px;
  border-radius: 30px;
  position: relative;
  height: 940px;
  background-color: white;
  font-family: $nunito;
  font-size: 18px;
  font-weight: 400;
  margin: 20px;

  h2{
    font-size: 24px;
    font-weight: 700;
  }

  p{
    font-size: 14px;
    color: $purple2;
  }
}


.thread-head {
  height: calc(104px - 32px - 32px);
  padding: 32px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.08);
}

.head-text{
    display: flex;
    align-items: center;
    gap: 10px;
}

.thread-content{
    height: calc(920px - 104px - 187px);
    padding: 20px 0 20px 0;
}

.answer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.answer-field {
  height: 103px;
  width: calc(280px - 40px);
  border: 1px solid $light-purple;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 40px;

  textarea {
    border: none;
    font-size: 18px;
    font-weight: 400;
    width: 255px;;
    height: 65px;

    &:focus-visible{
      outline: none;
    }
  }
}

#answer {
  resize: none;
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-sb {
  display: flex;
}

.add {
  cursor: pointer;
  background: url("../../../assets/img/add.svg") no-repeat;

  &:hover {
    background: url("../../../assets/img/add-hover.svg") no-repeat;
  }
}

.emoji {
  cursor: pointer;
  background: url("../../../assets/img/emoji.svg") no-repeat;

  &:hover {
    background: url("../../../assets/img/emoji-hover.svg") no-repeat;
  }
}

.email {
  cursor: pointer;
  background: url("../../../assets/img/email.svg") no-repeat;

  &:hover {
    background: url("../../../assets/img/email-hover.svg") no-repeat;
  }
}

.send {
  cursor: pointer;
  background: url("../../../assets/img/send.svg") no-repeat;

  &:hover {
    background: url("../../../assets/img/send-hover.svg") no-repeat;
  }
}

.close {
    cursor: pointer;
    background: url("../../../assets/img/close.svg") no-repeat;
  
    &:hover {
      background: url("../../../assets/img/close-hover.svg") no-repeat;
    }
  }

.vector {
  background: url("../../../assets/img/vector 4.svg") no-repeat;
  width: 4px;
  height: 40px;
}

.w-h-40 {
  width: 40px;
  height: 40px;
}

.d-none{
  display: none;
}