@import './../../../styles.scss';

// CSS für Section ist nur für die Entwicklung der Thread Komponente relevant und muss danach entfernt werden.
section{
    background-color: $bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thread-container{
    width: 485px;
    border-radius: 30px;
    position: relative;
    height: 100vh;
    background-color: white;
}

.thread-head{
    height: 104px;
    padding: 32px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        width: 13px;
        height: 13px;
    }
}

.thread-content{

}

.answer-section{

}