<section>
    <div *ngIf="currentChannelData" class="chat-header">

        <div class="chat-header-left" (click)="openEditDialog()">
            <div class="tag"></div>
            <span *ngIf="currentChannelData">{{currentChannelData.name}}</span>
            <div class="arrow-down"></div>
        </div>

        <div class="chat-header-right">
            <div class="header-avatar">

                <img *ngFor="let users of currentChannelData.usersInChannel" [src]="users.avatar" class="avatar-img">

            </div>
            <span *ngIf="currentChannelData && currentChannelData.usersInChannel" class="chat-members-num">{{currentChannelData.usersInChannel.length}}</span>
            <div class="add-person"><img src="assets/img/person_add.png"></div>
        </div>

    </div>

    <div class="chat">
        <ng-container *ngFor="let messageObj of chatService.chatDatas; let i = index">
            <!-- Überprüfe, ob der vorherige Eintrag existiert und das Datum anders ist -->
            <ng-container *ngIf="i === 0 || (chatService.chatDatas[i - 1].time | date:'dd.MM.yyyy') !== (messageObj.time | date:'dd.MM.yyyy')">
                <div class="date-div">
                    <div class="line"></div>
                    <span class="date">{{ messageObj.time | date:'dd.MM.yyyy' }}</span>
                    <div class="line"></div>
                </div>
            </ng-container>
    
            <div [ngClass]="messageObj.ownMessage ? 'you-chat-message' : 'chat-message'" class="chat-message">
                <div *ngIf="messageObj?.message" class="message-avatar"><img (click)="openUserDetail(messageObj.user.id)" class="message-avatar" [src]="getUserAvatar(messageObj.user.id)"></div>
                <div *ngIf="messageObj?.message">
                    <div [ngClass]="messageObj.ownMessage ? 'you-name-time-div': 'name-time-div'">
                        <span class="name" (click)="openUserDetail(messageObj.user.id)">{{ messageObj.user.name }}</span>
                        <span class="time">{{ messageObj.time | date:'HH:mm' }}</span>
                    </div>
                    <div [ngClass]="messageObj.ownMessage ? 'you-message': 'message'">{{ messageObj.message }}</div>
                    <div class="message-reaction">
                        <div class="reaction w-h-40"></div>
                        <div class="comment w-h-40"></div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    
    <div *ngIf="currentChannelData" class="answer-section">
        <div class="answer-field">
            <textarea  [(ngModel)]="message" name="answer" id="answer" cols="1" rows="40" placeholder="Antworten..."></textarea>
            <div class="button-row">
                <div class="d-flex-sb">
                    <div class="add w-h-40">
                    </div>
                    <div class="vector"></div>
                    <div class="emoji w-h-40"></div>
                    <div class="email w-h-40"></div>
                </div>
                <div (click)="sendMessage(currentChannelData.id)" class="send w-h-40"></div>
            </div>
        </div>
    </div>
</section>