<section>
    <div *ngIf="currentChannelData" class="chat-header">

        <div class="chat-header-left" (click)="openEditDialog()">
            <div class="tag"></div>
            <span *ngIf="currentChannelData">{{currentChannelData.name}}</span>
            <div class="arrow-down"></div>
        </div>

        <div class="chat-header-right">
            <div class="header-avatar">

                <img *ngFor="let users of currentChannelData.usersInChannel" [src]="users.avatar" class="avatar-img">

            </div>
            <span *ngIf="currentChannelData && currentChannelData.usersInChannel" class="chat-members-num">{{currentChannelData.usersInChannel.length}}</span>
            <div class="add-person"><img src="assets/img/person_add.png"></div>
        </div>

    </div>

    <div class="chat">
        <div class="date-div">
            <div class="line"></div> <span class="date">18.03.2024</span>
            <div class="line"></div>
        </div>

        <div [ngClass]="messageObj.ownMessage ? 'you-chat-message' : 'chat-message'"  *ngFor="let messageObj of chatService.chatDatas"class="chat-message">
            <div *ngIf="messageObj?.message"  class="message-avatar"><img class="message-avatar" [src]="getUserAvatar(messageObj.user)"></div>
            <div *ngIf="messageObj?.message" >
                <div [ngClass]="messageObj.ownMessage ? 'you-name-time-div': 'name-time-div'"   >
                    <span class="name">{{ messageObj.user.name}}</span>
                    <span class="time">14:45 Uhr</span>
                </div>
                <div [ngClass]="messageObj.ownMessage ? 'you-message': 'message'" >{{ messageObj.message}}</div>
                <div   class="message-reaction">
                    <div class="reaction w-h-40"></div>
                    <div class="comment w-h-40"></div>
                </div>
            </div>

        </div>

        <div class="date-div">
            <div class="line"></div> <span class="date">19.03.2024</span>
            <div class="line"></div>
        </div>

        <!-- <div  *ngFor="let messageObj of chatService.ownChatDatas" class="you-chat-message">
            <div>
                <div  *ngIf="messageObj?.message" class="name-time-div">
                    <span  class="time">02:42 Uhr</span>
                    <span class="name">Fredika Brend</span>
                </div>
                <div  *ngIf="messageObj?.message" class="you-message">{{ messageObj.message}}</div>
                <div  *ngIf="messageObj?.message" class="message-reaction">
                    <div class="reaction w-h-40"></div>
                    <div class="comment w-h-40"></div>
                </div>
            </div>
            <div *ngIf="messageObj?.message" class="message-avatar"><img src="assets/img/avatars/avatar-1.svg"></div>
        </div> -->

    </div>
    <div *ngIf="currentChannelData" class="answer-section">
        <div class="answer-field">
            <textarea  [(ngModel)]="message" name="answer" id="answer" cols="1" rows="40" placeholder="Antworten..."></textarea>
            <div class="button-row">
                <div class="d-flex-sb">
                    <div class="add w-h-40">
                    </div>
                    <div class="vector"></div>
                    <div class="emoji w-h-40"></div>
                    <div class="email w-h-40"></div>
                </div>
                <div (click)="sendMessage(currentChannelData.id)" class="send w-h-40"></div>
            </div>
        </div>
    </div>
</section>